<div id="image_upload_{{index}}" class="item" data-id="{{imgUrl}}">
    <img src="{{imgUrl}}" class="thumb">
    <i class="delete" data-id="{{imgUrl}}">-</i>
    <div class="image-cover"></div>
</div>