{
    "compiler": "modular",
    "name": "tourBus",
    "version": "1.0.0",
    "dependencies": {},
    "alias": {
        "util":"./src/scripts/common/util/",
    	"lib": "./src/scripts/common/lib/",
        "plugins": "./src/scripts/common/plugins/",
        "mustache" : "./src/scripts/mobile/mustache/"
    },
    "export": [{
        "path" : "scripts/common/lib/index.js",
        "no_version" : true
    },{
        "path" : "scripts/mobile/busLine.js",
        "no_version" : true
    },{

       "path" : "scripts/mobile/busList.js",
       "no_version" : true
    },{
       "path" : "scripts/mobile/busDetail.js",
       "no_version" : true
    },{
       "path" : "scripts/mobile/activity.js",
       "no_version" : true
    },{
       "path" : "scripts/mobile/activity/summerCamp.js",
       "no_version" : true
    },{
        "path" : "scripts/mobile/app.js",
        "no_version" : true
    },{
        "path" : "styles/busLine.css",
        "no_version" : true
    },{
        "path" : "styles/busList.css",
        "no_version" : true
    },{
        "path" : "styles/busDetail.css",
        "no_version" : true
    },{
       "path" : "styles/activity.css",
       "no_version" : true
    },{
       "path" : "styles/activity/summerCamp.css",
       "no_version" : true
    },{
        "path" : "styles/app.css",
        "no_version" : true
    }],
    "scripts" : {
        "postmin" : "./build/afterMin.js"
    }
}