<div class="md_mask"></div>
<div class="md_panel">
   <div class="md_head">
       <div class="md_selectarea">
            <i class="md_icon md_i_left md_prev change_year"></i>
            <a class="md_headtext yeartag" href="javascript:void(0);"></a>
            <i class="md_icon md_i_right md_next change_year"></i> 
        </div>
        <div class="md_selectarea">
            <a class="md_prev change_month" href="javascript:void(0);">
               <i class="md_icon md_i_left"></i>
            </a>
            <a class="md_headtext monthtag" href="javascript:void(0);">月</a> 
            <a class="md_next change_month" href="javascript:void(0);">
                <i class="md_icon md_i_right"></i>
            </a>
        </div>
    </div>
    <div class="md_body">
       <ul class="md_weekarea">
           <li>日</li>
           <li>一</li>
           <li>二</li>
           <li>三</li>
           <li>四</li>
           <li>五</li>
           <li>六</li>
       </ul>
       <ul class="md_datearea in">
       </ul>
    </div>
    <div class="md_foot">
       <a href="javascript:void(0);" class="md_ok">确定</a> 
       <a href="javascript:void(0);" class="md_cancel">取消</a>
    </div>
</div>