 <h2 class="h-title">热门地点</h2>
            <ul class="hot-items clear">
               {{#data}}
	               <li data-code="{{place_id}}">{{pname}}</li>
               {{/data}}
            </ul>