
{{#data}}
<div class="station-item">
           <p>{{rome}}</p>
           <ul>
               {{#list}}
	            <li data-code="{{place_id}}">{{pname}}</li>
	            {{/list}}
           </ul>
</div>
{{/data}}