<div class="top">
    <i class="icon-angle-left i-back f-50 float-left"></i>
    {{title}}
</div>
 <div class="main-wrapper">
     <div class="loading">
        <img src="http://source.midea.com/SwanEShopMobile/loading.gif">
     </div>
    <div class="swap-page-wrapper">
        <ul class="area-list link-list">
        </ul>
    </div>
</div>