<div class="confirm-delete hide">
    <div class="cover" attr-tag="cover"></div>
    <div class="alert-box">
        <div class="alert-title">
            {{title}}
        </div>
        <div class="alert-btn">
            {{#btns}}
            <input class="btn-{{type}}" attr-tag="{{type}}" type="button" value="{{name}}">
            {{/btns}}
        </div>
    </div>
</div>
